{% extends "patients/patient_base.html" %}
{% block title %}Delete Patient{% endblock %}
{% block patient_content %}
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Delete Patient</h1>
</div>

<div class="alert alert-danger">
  <p>Are you sure you want to delete the patient "{{ object.name }}"?</p>
  <p>This action cannot be undone.</p>
</div>

<form method="post">
  {% csrf_token %}
  <div class="d-flex">
    <a
      href="{% url 'patients:patient_detail' pk=object.pk %}"
      class="btn btn-outline-secondary me-2"
      >Cancel</a
    >
    <button type="submit" class="btn btn-danger">Confirm Delete</button>
  </div>
</form>
{% endblock %}