{% if perms.patients.view_patient %}
<li class="nav-item">
  <a
    class="nav-link collapsed"
    href="#"
    data-bs-toggle="collapse"
    data-bs-target="#collapsePatients"
    aria-expanded="false"
    aria-controls="collapsePatients"
  >
    <i class="bi bi-people"></i>
    <span>Pacientes</span>
  </a>
  <div
    id="collapsePatients"
    class="collapse"
    aria-labelledby="headingPatients"
    data-bs-parent="#sidebarAccordion"
  >
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Gerenciamento de Pacientes:</h6>
      <a class="collapse-item" href="{% url 'apps.patients:patient_list' %}"
        >Todos os Pacientes</a
      >
      {% if perms.patients.add_patient %}
      <a class="collapse-item" href="{% url 'apps.patients:patient_create' %}"
        >Adicionar Paciente</a
      >
      {% endif %} {% if perms.patients.view_allowedtag %}
      <a class="collapse-item" href="{% url 'apps.patients:tag_list' %}"
        >Gerenciar Tags</a
      >
      {% endif %}
    </div>
  </div>
</li>
{% endif %}