<div class="card mb-4">
  <div class="card-header">
    <i class="bi bi-clipboard2-pulse me-1"></i> Estatísticas de Pacientes
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-3 col-md-6">
        <div class="card bg-medical-primary text-white mb-4">
          <div class="card-body">
            <h2 class="text-white">{{ total_patients }}</h2>
            <div class="text-white">Total de Pacientes</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
          <div class="card-body">
            <h2>{{ inpatient_count }}</h2>
            <div>Internados</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card bg-info text-white mb-4">
          <div class="card-body">
            <h2>{{ outpatient_count }}</h2>
            <div>Ambulatoriais</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card bg-secondary text-white mb-4">
          <div class="card-body">
            <h2>{{ hospital_count }}</h2>
            <div>Hospitais</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>