{% load patient_tags %}
<div class="card">
  <div class="card-header">
    <i class="bi bi-people me-1"></i> Pacientes Recentes
  </div>
  <div class="card-body">
    {% if recent_patients %}
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for patient in recent_patients %}
          <tr>
            <td>
              <a href="{% url 'apps.patients:patient_events_timeline' patient_id=patient.pk %}" class="text-decoration-none">
                      <strong>{{ patient.name }}</strong>
              </a>
            </td>
            <td>{{ patient.status|patient_status_badge }}</td>
            <td>
              <a
                href="{% url 'apps.patients:patient_detail' patient.id %}"
                class="btn btn-sm btn-primary"
              >
                <i class="bi bi-eye"></i>
              </a>
              <a
                href="{% url 'apps.patients:patient_update' patient.id %}"
                class="btn btn-sm btn-warning"
              >
                <i class="bi bi-pencil"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="text-end">
      <a href="{% url 'apps.patients:patient_list' %}" class="btn btn-primary"
        >Ver Todos os Pacientes</a
      >
    </div>
    {% else %}
    <p class="text-muted">Nenhum paciente foi adicionado ainda.</p>
    <a href="{% url 'apps.patients:patient_create' %}" class="btn btn-primary"
      >Adicionar Paciente</a
    >
    {% endif %}
  </div>
</div>
